@charset "utf-8";

/* temporary */
.warning { color: red; font-size: 150%; font-weight: 900; }

body {
	width: 40em;
	margin: 0 auto;
	font-family: Noto Sans CJK KR, Source Han Sans, sans-serif;
	font-size: 24px;
	font-weight: 100;
	line-height: 2;
}
header {
	margin: 100px 0 0 0;
}
header>svg {
	position: absolute;
	left: 0;
	top: 0;
	background: red;
	width: 100vw;
	height: 100px;
}
h1 {
	font-size: 2em;
	font-weight: 100;
	margin: 1rem 0;
}
h2 {
	font-size: 1.6em;
	font-weight: 100;
	margin: 4rem 0 2rem 0;
	text-align: center;
}
h3 {
	font-size: 1.3em;
	font-weight: 100;
	margin: 1rem -0.6rem;
	padding: 0.2rem 0.6rem;
	background: #eef1f4;
	border-radius: 0.8rem;
}
p {
	margin: 1em 0;
}
em {
	font-style: normal;
	border-bottom: 1px solid currentcolor;
}
strong {
	font-weight: 400;
}
.annotated {
	position: relative;
	border-bottom: 1px dashed currentcolor;
}
.annotated > small {
	position: absolute;
	font-size: 50%;
	left: 0;
	bottom: 2em;
	white-space: nowrap;
}
code {
	font-family: inherit;
	color: gray;
}
a, a.annotated {
	color: green;
	text-decoration: none;
	border-bottom: 3px double currentcolor;
}

ins {
	text-decoration: inherit;
	background-color: rgba(192, 255, 192, 0.5);
}
del {
	text-decoration: inherit;
	background-color: rgba(255, 192, 192, 0.5);
}

@media screen and (max-width: 1024px) {
	body {
		font-size: 2.33vw;
	}
}

@media screen and (max-width: 1000px) {
	header {
		margin-top: 10vw;
	}
	header>svg {
		height: 10vw;
	}
	header>svg>line {
		stroke-width: 0.25vw;
	}
}

