@charset "utf-8";

/* temporary */
.warning { color: red; font-size: 150%; font-weight: 900; }

html {
	font-family: Noto Sans CJK KR, Source Han Sans, sans-serif;
	font-size: 24px;
	font-weight: 100;
	line-height: 2;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
}
body>header {
	background-color: #505050;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjQwIj48ZGVmcz48cGF0dGVybiBpZD0iaG9yaXotZmlsbCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeD0iNTAlIiB3aWR0aD0iMjQiIGhlaWdodD0iNTAiPjxwYXRoIGQ9Ik0wIDBsMTIgMTJsMTIgLTEydjNsLTkgOWw5IDl2NmwtNCA0bDQgNHY2aC0yNHYtNmw0IC00bC00IC00di02bDkgLTlsLTkgLTl6IE0xMiAxNmwtNiA2bDYgNmw2IC02eiIgZmlsbD0id2hpdGUiIC8+PC9wYXR0ZXJuPjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2hvcml6LWZpbGwpIiAvPjwvc3ZnPg=='), linear-gradient(180deg, #303030, #505050);
	background-repeat: no-repeat;
	background-position: bottom;
	color: white;
	margin: 0;
	padding: 0 0 40px 0;
	width: 100%;
	line-height: 1;
	position: relative;
}
body>header>svg.address {
	left: 0;
	top: 0;
	width: 100%;
	height: 100px;
	overflow-x: hidden;
}
#main {
	width: 40em;
	margin: 0 auto;
}
body>footer {
	background-color: #505050;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjQwIj48ZGVmcz48cGF0dGVybiBpZD0iaG9yaXotZmlsbCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeD0iNTAlIiB3aWR0aD0iMjQiIGhlaWdodD0iNTAiPjxwYXRoIGQ9Ik0wIDQwbDEyIC0xMmwxMiAxMnYtM2wtOSAtOWw5IC05di02bC00IC00bDQgLTR2LTZoLTI0djZsNCA0bC00IDR2Nmw5IDlsLTkgOXogTTEyIDI0bC02IC02bDYgLTZsNiA2eiIgZmlsbD0id2hpdGUiIC8+PC9wYXR0ZXJuPjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2hvcml6LWZpbGwpIiAvPjwvc3ZnPg=='), linear-gradient(0deg, #303030, #505050);
	background-repeat: no-repeat;
	background-position: top;
	color: white;
	margin: 2em 0 0 0;
	padding: 40px 0 60px 0;
	width: 100%;
	line-height: 1;
	position: relative;
	box-shadow: 0 32000px 0 32000px #303030;
}
body>header a, body>footer a {
	color: #ddd;
}
body>header>*, body>footer>* {
	width: 40em;
	margin-left: auto;
	margin-right: auto;
}
header>h1 {
	position: relative;
	width: 975px;
	height: 100px;
	margin: 0.3em auto -0.8em auto;
	padding: 0.4em 0 0 15px;
	font-size: 40px;
	font-weight: 100;
	line-height: 1;
}
header.index>h1 {
	font-size: 80px;
	margin: 0 auto -0.4em auto;
}
h1 .line1, h1 .line2 {
	position: absolute;
	display: inline-block;
	color: white;
	text-shadow: 1px 1px 2px #505050;
	padding: 0.3em 0.2em;
}
h1 .line1 {
	background-color: #ff13a4;
	box-shadow: 0.08em 0.08em rgba(0, 0, 0, 0.8);
	transform: skew(-7deg, 2deg);
	right: 0.25em;
	top: 0.25em;
	z-index: 2;
}
h1 .line1>u {
	text-decoration: none;
	animation: 5s ease 5s infinite alternate-reverse fade;
}
h1 .line1>s {
	text-decoration: none;
	position: absolute;
	transform: translate(-100%, 0);
	letter-spacing: -0.08em;
	opacity: 0;
	animation: 5s ease 5s infinite alternate fade;
}
@keyframes fade {
	0% { opacity: 0.1; }
	100% { opacity: 1; }
}
h1 .line2 {
	background-color: #ffad00;
	box-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.8);
	transform: skew(-6deg, 5deg);
	right: 0;
	top: 1.7em;
	z-index: 1;
}
h1 .subtitle {
	display: inline-block;
}
header.index>p {
	width: 990px;
	margin: 0 auto;
	padding-bottom: 12px;
	font-size: 28px;
	line-height: 1.8;
	letter-spacing: -0.02em;
}
header.index>p strong {
	background-color: white;
	color: #505050;
	padding: 0 0.2em;
	margin: 0 -0.2em;
}
h2 {
	font-size: 1.6em;
	font-weight: 100;
	margin: 4rem 0 2rem 0;
	text-align: center;
}
h3 {
	font-size: 1.3em;
	font-weight: 100;
	margin: 1rem -0.6rem;
	padding: 0.2rem 0.6rem;
	background: #eef1f4;
	border-radius: 0.8rem;
}
p {
	margin-top: 1em;
	margin-bottom: 1em;
}
header.index>p {
	width: 990px;
	margin: 0 auto;
	padding-bottom: 12px;
	font-size: 28px;
	line-height: 1.8;
	letter-spacing: -0.02em;
}
header.index>p strong {
	background-color: white;
	color: #505050;
	padding: 0 0.2em;
	margin: 0 -0.2em;
}
em {
	font-style: normal;
	border-bottom: 1px solid currentcolor;
}
strong {
	font-weight: 400;
}
.annotated {
	position: relative;
	border-bottom: 1px dashed currentcolor;
}
.annotated>small {
	position: absolute;
	font-size: 50%;
	left: 0;
	bottom: 2em;
	white-space: nowrap;
}
code {
	font-family: inherit;
	color: gray;
}
a, a.annotated {
	color: green;
	text-decoration: none;
	border-bottom: 3px double currentcolor;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul>li {
	position: relative;
	margin: 0 0 0 1em;
	padding: 0;
}
ul>li::before {
	content: "";
	display: block;
	position: absolute;
	width: 0.28em;
	height: 0.3em;
	top: 0.85em;
	left: -0.8em;
	background-color: #234e99;
	border: 1px solid #234e99;
}
nav ul {
	margin: 1em 0;
}
nav ul>li {
	display: inline;
	margin: 0 1em 0 0;
	padding: 0;
}
nav ul>li::before {
	display: none;
}
ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ol>li {
	position: relative;
	margin: 0 0 0 1em;
	padding: 0;
	counter-increment: item-index;
}
ol>li::before {
	content: counter(item-index) " ";
	display: block;
	position: absolute;
	top: 0;
	left: -1em;
	font-weight: 400;
	color: #234e99;
}
ul ul>li::before {
	background-color: transparent;
}
ul.chars {
	margin: 1em 0;
	padding: 0 0 0 2.5%;
}
ul.chars>li {
	float: left;
	margin: 0 -1px -1px 0;
	padding: 0;
	width: 19%;
	border: 1px solid #ccc;
	text-align: center;
}
ul.chars>li:nth-child(even) {
	background-color: #eee;
}
ul.chars>li::before {
	display: none;
}
ul.chars::after {
	content: "";
	display: block;
	clear: both;
}
article {
	padding: 1em 0;
}
article~article {
	border-top: 1px solid #505050;
}
article>header {
	text-align: center;
}
article>header>h2 {
	margin: 0;
}
article>header>h2 a {
	color: #505050;
	font-weight: 400;
}

ins {
	text-decoration: inherit;
	background-color: rgba(192, 255, 192, 0.5);
}
del {
	text-decoration: inherit;
	background-color: rgba(255, 192, 192, 0.5);
}

@media screen and (max-width: 1024px) {
	body {
		font-size: 2.33vw;
	}
	h1 {
		width: auto;
		font-size: 3.90625vw;
		text-align: center;
		height: auto;
		margin: 0;
		padding: 2vw 0;
	}
	header.index>h1 {
		font-size: 7.8125vw;
		margin: 0;
	}
	h1>.line1 {
		position: relative;
		right: auto;
		top: auto;
		transform: skew(2deg, -2deg) translate(0.1em, 0);
		z-index: 1;
	}
	h1>.line2 {
		position: relative;
		right: auto;
		top: auto;
		transform: skew(-6deg, 3deg) translate(-0.1em, 0);
		z-index: 2;
	}
	body>header>svg.address {
		height: 9.7656vw;
	}
	body>header>svg.address>line {
		stroke-width: 0.2441vw;
	}
	header.index>p {
		width: auto;
		text-align: center;
		font-size: 2.7344vw;
	}
	.annotated>small {
		position: static;
		font-size: 66.7%;
		left: inherit;
		bottom: inherit;
		white-space: inherit;
		opacity: 0.667;
	}
}

@media screen and (max-width: 700px) {
	body {
		font-size: 16px;
	}
	h1 {
		font-size: 27px;
	}
	header.index>p {
		width: auto;
		text-align: center;
		font-size: 19px;
		margin: 0 20px;
	}
	#main {
		width: auto;
		margin: 0 30px;
	}
}

@media screen and (max-width: 410px) {
	header.index>h1 {
		font-size: 32px;
	}
}

