@charset "utf-8";

/* temporary */
.warning { color: red; font-size: 150%; font-weight: 900; }

html {
	font-family: Noto Sans CJK KR, Source Han Sans, sans-serif;
	font-size: 24px;
	font-weight: 100;
	line-height: 2;
}
body {
	margin: 0;
	padding: 0;
}
header {
	background-color: #505050;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjQwIj48ZGVmcz48cGF0dGVybiBpZD0iaG9yaXotZmlsbCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeD0iNTAlIiB3aWR0aD0iMjQiIGhlaWdodD0iNTAiPjxwYXRoIGQ9Ik0wIDBsMTIgMTJsMTIgLTEydjNsLTkgOWw5IDl2NmwtNCA0bDQgNHY2aC0yNHYtNmw0IC00bC00IC00di02bDkgLTlsLTkgLTl6IE0xMiAxNmwtNiA2bDYgNmw2IC02eiIgZmlsbD0id2hpdGUiIC8+PC9wYXR0ZXJuPjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2hvcml6LWZpbGwpIiAvPjwvc3ZnPg=='), linear-gradient(180deg, #303030, #505050);
	background-repeat: no-repeat;
	background-position: bottom;
	color: white;
	margin: 0;
	padding: 0 0 40px 0;
	width: 100%;
	line-height: 1;
	position: relative;
}
header>svg.address {
	left: 0;
	top: 0;
	width: 100%;
	height: 100px;
}
main {
	width: 40em;
	margin: 0 auto;
}
h1 {
	position: relative;
	width: 975px;
	height: 100px;
	margin: 0.3em auto -0.8em auto;
	padding: 0.4em 0 0 15px;
	font-size: 40px;
	font-weight: 100;
	line-height: 1;
}
header.index>h1 {
	font-size: 80px;
	margin: 0 auto -0.4em auto;
}
h1>span {
	position: absolute;
	display: inline-block;
	color: white;
	text-shadow: 1px 1px 2px #505050;
	padding: 0.3em 0.2em;
}
h1>.line1 {
	background-color: #ff13a4;
	box-shadow: 0.08em 0.08em rgba(0, 0, 0, 0.8);
	transform: skew(-7deg, 2deg);
	right: 0.25em;
	top: 0.25em;
	z-index: 2;
}
h1>.line1>u {
	text-decoration: none;
	animation: 5s ease 5s infinite alternate-reverse fade;
}
h1>.line1>s {
	text-decoration: none;
	position: absolute;
	transform: translate(-100%, 0);
	letter-spacing: -0.08em;
	opacity: 0;
	animation: 5s ease 5s infinite alternate fade;
}
@keyframes fade {
	0% { opacity: 0.1; }
	100% { opacity: 1; }
}
h1>.line2 {
	background-color: #ffad00;
	box-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.8);
	transform: skew(-6deg, 5deg);
	right: 0;
	top: 1.7em;
	z-index: 1;
}
header.index>p {
	width: 990px;
	margin: 0 auto;
	padding-bottom: 12px;
	font-size: 28px;
	line-height: 1.8;
	letter-spacing: -0.02em;
}
header.index>p strong {
	background-color: white;
	color: #505050;
	padding: 0 0.2em;
	margin: 0 -0.2em;
}
header.index>svg.separator {
	position: absolute;
	padding: 0;
	margin: 0;
	bottom: -1px;
}
h2 {
	font-size: 1.6em;
	font-weight: 100;
	margin: 4rem 0 2rem 0;
	text-align: center;
}
h3 {
	font-size: 1.3em;
	font-weight: 100;
	margin: 1rem -0.6rem;
	padding: 0.2rem 0.6rem;
	background: #eef1f4;
	border-radius: 0.8rem;
}
p {
	margin: 1em 0;
}
em {
	font-style: normal;
	border-bottom: 1px solid currentcolor;
}
strong {
	font-weight: 400;
}
.annotated {
	position: relative;
	border-bottom: 1px dashed currentcolor;
}
.annotated > small {
	position: absolute;
	font-size: 50%;
	left: 0;
	bottom: 2em;
	white-space: nowrap;
}
code {
	font-family: inherit;
	color: gray;
}
a, a.annotated {
	color: green;
	text-decoration: none;
	border-bottom: 3px double currentcolor;
}

ins {
	text-decoration: inherit;
	background-color: rgba(192, 255, 192, 0.5);
}
del {
	text-decoration: inherit;
	background-color: rgba(255, 192, 192, 0.5);
}

@media screen and (max-width: 1024px) {
	body {
		font-size: 2.33vw;
	}
	h1 {
		width: auto;
		font-size: 3.90625vw;
		text-align: center;
		height: auto;
		margin: 0;
		padding: 2vw 0;
	}
	header.index>h1 {
		font-size: 7.8125vw;
		margin: 0;
	}
	h1>span {
		position: relative;
	}
	h1>.line1 {
		right: auto;
		top: auto;
		transform: skew(2deg, -2deg) translate(0.1em, 0);
		z-index: 1;
	}
	h1>.line2 {
		right: auto;
		top: auto;
		transform: skew(-6deg, 3deg) translate(-0.1em, 0);
		z-index: 2;
	}
	header>svg.address {
		height: 9.7656vw;
	}
	header>svg.address>line {
		stroke-width: 0.2441vw;
	}
	header.index>p {
		width: auto;
		text-align: center;
		font-size: 2.7344vw;
	}
}

